<% provide(:title, 'ユーザー追加') %>
<fieldset>
	<legend><strong><%= @group.name %></strong></legend>
	<div style="text-align: center;">
		<%= will_paginate @users%>
				<% @users.each do |user| %>
					<div style="text-align: center; float: left; padding: 0px 20px 0px 30px;">
		    		<%= gravatar_for user, size: 52 %>
		    	</div>
		    	<div style="text-align: center; float: left; padding: 0px 10px 0px 10px;height: 80px;">
		  			<%= link_to user.name, user %>
		  		</div>
		  		<div style="text-align: center; float: left;">
						<% if user.join_groups?(@group) %>
							<%= render 'join_groups', user: user %>
						<% else %>
							<%= render 'unjoin_groups', user: user %>
						<% end %>
					</div>
			  <% end %>
		</div>
		<%= will_paginate @users%>
	<div>
</fieldset>
