<% provide(:title, 'ユーザー追加') %>
<fieldset>
	<legend><strong><%= link_to @group.name , @group %></strong></legend>
	<div style="text-align: left;">
		<%= will_paginate @users%>
			<ul class="users">
				<% @users.each do |user| %>
					<li>
		    		<%= gravatar_for user, size: 52 %>
		  			<%= link_to user.name, user %>
		  			<div id="join_form_<%= user.id %>" style="text-align: left;">
							<% if user.join_group(@group) %>
								<%= render 'join_groups', user: user %>
							<% else %>
								<%= render 'unjoin_groups', user: user %>
							<% end %>
						</div>
					</li>
			  <% end %>
			</ul>
		<%= will_paginate @users%>
	<div>
</fieldset>
