<% provide(:title, @user.name) %>
<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
			<fieldset>
			<p><%= @user.email %></p>
			</fieldset>
			<fieldset>
			<legend><strong>所属チーム</strong></legend>
		  <ul class="groups">
		    <% @user.join_groups.each do |f| %>
		  	<li>
			  	 <%= link_to f.group.name, f.group %>
		  	</li>
		    <% end %>
			</ul>
			</fieldset>
		</section>
	</aside>
	<div class="span8">
    <% if @user.microposts.any? %>
      <h3>ツイート (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
