<li>
	<% if micropost.doc_flg %>
  	<span class="content">
         添付資料：
      	<%= link_to micropost.file_name, micropost.file_path %>
  	</span>
    <span class="timestamp">
      ※ 右クリック => リンク先を別名で保存....ちょっとかっちょ悪い...
    </span>
	<% else %>
  	<span class="content"><%= wrap(micropost.content) %></span>
	<% end %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago. <%= this_group_name(micropost.group_id) %>
  </span>
	<% if current_user?(micropost.user) %>
    <%= link_to "削除", micropost, method: :delete,
                                     data: { confirm: "削除しますか?" },
                                     title: micropost.content %>
  <% end %>
</li>