<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag 'jquery-ui.css'%>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= javascript_include_tag 'jquery.min.js' %>
		<%= javascript_include_tag 'jquery-ui.min.js' %>
		<%= javascript_include_tag 'groups' %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<% if key == :micropost_error %>
					  <div id="error_explanation">
				    <div class="alert alert-error">
				      The form contains <%= pluralize(value.errors.count, "error") %>.
				    </div>
				    <ul>
				    <% value.errors.full_messages.each do |msg| %>
				      <li>* <%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% else %>
					<%= content_tag(:div, value, class:"alert alert-#{key}") %>
				<% end %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
